Source: ros-hydro-rosjava-bootstrap
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-rosjava-build-tools
Homepage: http://ros.org/wiki/rosjava_bootstrap
Standards-Version: 3.9.2

Package: ros-hydro-rosjava-bootstrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rosjava-build-tools
Description: Bootstrap utilities for rosjava builds.
